*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}
body{
    font-family: Roboto, sans-serif;
    text-align: center;
}
header{
    background-color:#0A001A;
    display: block;
    position:relative;
    color: #767BFF;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 15vh;
    border-bottom: solid #00FFDD 1px;
    padding: 15px 0 15px 0;
}
main{
    display:block;
}
a{
    text-decoration: none;
}
#mtodepartamentos{
    margin: 50px auto;
    background-color: purple;
    width: 80vw;
    height: 10vh;
    text-align: center;
    font-size: 32px;
    font-weight:bold;
    line-height: 10vh;
    margin-right:20vw;
    transition: all 0.75s;
}
#mtodepartamentos:hover{
    width:90vw;
    margin-right:10vw;
    background-color: lightskyblue;
    color: purple;
}
img{
    width: 25px;
    height: 25px;
}
footer{
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    position: absolute;
    top: 90%;
    bottom: 0%;
    width: 100%;
    height: 10vh;
    text-align: left;
    border-top: solid purple 2px;
}
.cuadro{
    background-color: #00FFDD;
    position: absolute;
    color: #9F1CC2;
    transition: all 0.4s;
    font-size:36px;
    font-weight:bold;
    text-decoration: none;
}
#arriba{
    width: 50px;
    height: 100%;
    top: 0;
    left: 0px;
    padding-top: 5vh;
}
#arriba:hover{
    background-color: #9F1CC2;
    color: #00FFDD;
    width: 100px;
}
input{
    border:none;
    border-bottom: solid magenta 1px;
}
input[type="text"]{
    width: 250px;
    padding: 5px;
    margin: 0 5px;
}
table{
    width:60vw;
    font-size: 16px;
    display: block;
}
td,tr,th{
    background-color: #0A001A;
    color: #00FFDD;
    border: solid #00FFDD 1px;
    border-collapse: collapse;
    width:15vw;
    height:40px;
}
th{
    background-color: #767BFF;
    color: white;
    text-align:center;
}
td{
    text-align: left;
    padding: 5px 10px 5px 10px;
    
}
fieldset{
    padding: 10px;
    text-align: left;
    margin-top: 10px;
}
.contenedorTabla{
    border: solid #00FFDD 1px;
    width:60vw;
    height: 50vh;
    margin-top: 10px;
}
#aceptar, #cancelar{
    border: none;
}
.boton{
    background-color: #767BFF;
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border: solid #00FFDD 1px;
    padding: 10px;
    transition: all 0.5s;
}
.boton:hover{
    background-color: purple;
}
.celdaIcono{
    width: 40px;
}
input[readonly="readonly"]{
    border:none;
    background-color: #020202;
    border: solid gray 1px;
    color: grey;
}
.formularioVentana, .formularioVentana tr, .formularioVentana td{
    border: none;
    background-color: transparent;
}
p{
    margin: 10px;
}
.noDisponible{
    background-color: dimgray;
    color: lightgrey;
    border: solid lightgrey 1px;
}
.noDisponible:hover{
    background-color: dimgray;
}
